@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.Background_Home {
    background: linear-gradient(#00d8ff, #9198e5);
}

.title {
    background-image: url(../../Files/image/Wall.png);
    font-family: 'Lobster', cursive;
    padding: 1rem;
    font-size: 4rem;
    color: rgb(54, 54, 54 , 0.6);
    text-align: end;
}

.jumbotron {
    background-image: url(https://i.pinimg.com/originals/62/63/5b/62635bfd6f5c20e3666f27e015191bde.jpg);
    border-radius: 0!important;
}

.Ctn_Avatar {
    display: flex;
    justify-content: center;
}

.Avatar {
    width: 60%;
    margin: 0rem 1rem 2rem 1rem;

}

.Text_Animation {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(54, 54, 54);
}

.Explain_Present {
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    text-align: center;
}

.card-body {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.card {
    border: 0!important;
}

.Container_More {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.More_Title {
    margin: 0;
    padding: 0;
    color: #f76c6c;
}

.More_Img {
    margin: 1rem;
    width: 100%;
}

.More_Text {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: start;
    line-height: 1.2rem;
    font-weight: 600;
    color: #f76c6c;
}

strong {
    color: #da6060;
}

.Container_Home_Text {
    width: 80vw;
}

.Logo_Container{
    text-align: center;
}

.React {
    color: #61DBFB;
    font-size: 3rem;
    margin: .5rem;
}

.Html{
    color: #E54C21;
    font-size: 3rem;
    margin: .5rem;
}

.Css {
    color: #264DE4;
    font-size: 3rem;
    margin: .5rem;
}

.NodeJs {
    color: #68A063;
    font-size: 3rem;
    margin: .5rem;
}