@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700&display=swap');
.Background_Home_Project {
  background: linear-gradient(#00d8ff, #9198e5);
  height: 85vh;
}

.Home_Project_Title {
  text-align: center;
  color: white;
}

.Intro_Project {
  color: white;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.5rem;
  padding: 1rem;
}