.Pagination {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  background-color: #cacaca;
  width: 1rem;
  height: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 50%;
}

.button:focus {
  background-color: #00d8ff;
  border: none;
}