.Bg_Game {
  background-image: url(../../../Files/image/WallG.png);
  /* height: 85vh; */
}

.Game_Title{
  font-family: 'Lobster', sans-serif;
  color: #ffffff;
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
}

