.Navbar_Title{
    font-family: 'Poppins', sans-serif;
    color: #00d8ff;
    font-weight: 1000;
    font-size: 2rem;
}

.navbar{
    padding: 0.1rem 1rem!important;
}

.Container_Ul{
    list-style-type: none;
    text-align: start;
    margin-bottom: 1rem;
}

.Link_Navigation{
    color: #00d8ff;
    font-size: 1.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
}

.my-styles{
    margin: 0;
    padding: 0;
}