.Burger_Menu{
    margin-right: 10rem;
}

.Navbar_Title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(57, 136, 226);
    margin: 0;
    padding: 0;
}

.Container_Ul{
    list-style-type: none;
}

a{
    font-size: 1rem;
}

