@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.Background_Web {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.Title_Web {
    text-align: center;
    padding: 2rem;
    color: #00d8ff;
    font-weight: 1000;
}

.Margin_Project {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.Container_Project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Preview_Project {
    max-width: 100%;
}

.H3_title {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.Container_Resume {
    width: 90vw;
    text-align: center;
}

.Container_Image {
    display: flex;
    justify-content: center;
    align-items: center;
}